@media(max-width:1200px) {
    .header__nav{
        padding: 0 15px; 
    }
    .series__card2 {
        grid-column: span 1;
        grid-row: span 1;
    }

    .series,
    .collection {
        padding: 0 15px;
    }

    .collection__cards {
        padding: 0 15px;
        grid-template-columns: repeat(2, 1fr);
    }

    .collection__title {
        padding-left: 20px;
        font-size: 30px;
    }

    .video__content-desc{
        max-width: 558px;
        width: 100%;
    }
    .video{
        padding: 43px 15px 80px;
    }

    .video__content img{
        max-width: 460px;
        width: 100%;
    }

    .films__cards{
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media(max-width:950px){
    .header__block{
        left: 20px;
    }
    .header__block-desc{
        max-width: 570px;
        width: 100%;
    }
    .header__block-title{
        font-size: 50px;
    }
}

@media(max-width:650px) {
    .collection__cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .header__block{
        left: 70px;
    }
    .header__nav-list{
        display: none;
    }
}

@media(max-width:440px){
    .header__nav-list{
        display: flex;
        flex-direction: column;
    }
    .header__block-btns{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: -30px;
    }

    .header__block-btn{
        width: 160px;
        padding: 17px 29px;
        font-size: 20px;
    }
    .header__nav-content{
        flex-direction: column;
        align-items: flex-start;
    }
    .header__nav{
        height: 100%;
        padding: 15px;
    }

    .header__nav-logo{
        margin-bottom: 20px;
    }
}

@media(max-width:991px){
    .series__info-title{
        font-size: 20px;
    }
    .series__box>img{
        max-width: 42px;
        width: 100%;
    }
    .series__desc{
        min-width: 558px;
        width: 100%;
        height: 150px;
        overflow: hidden;
    }
    .series__cards{
        grid-template-columns: repeat(3, 4fr);
    }
}